 { margen :  0 ; relleno :  0 ; }
cuerpo { tamaño de fuente :  14 px ; }

/* OPPS ----------------------------------------------- ---------------------- */

h3 {
	margen inferior :  10 px ;
	tamaño de fuente :  15 px ;
	peso de fuente :  600 ;
	transformación de texto : mayúsculas;
}

. opps {
	ancho :  496 píxeles ;
	radio del borde :  4 px ;
	tamaño de caja : cuadro de borde;
	relleno :  0  45 px ;
	margen :  40 px automático;
	desbordamiento : oculto;
	borde :  1 px sólido # b0afb5 ;
	familia de fuentes :  'Open Sans' , sans-serif;
	color :  # 4f5365 ;
}

. recordatorio de opps {
	posición : relativa;
	arriba :  -1 px ;
	relleno :  9 px  0  10 px ;
	tamaño de fuente :  11 px ;
	transformación de texto : mayúsculas;
	alineación de texto : centro;
	color :  #ffffff ; _
	fondo :  # 000000 ;
}

. información-opps {
	margen superior :  26 px ;
	posición : relativa;
}

. información-opps : después de {
	visibilidad : oculta;
     mostrar : bloquear;
     tamaño de fuente :  0 ;
     contenido :  "" ;
     claro : ambos;
     altura :  0 ;

}

. marca-opps {
	ancho :  45 % ;
	flotador : izquierda;
}

. imagen de marca opps  {
	ancho máximo :  250 px ;
	margen superior :  2 px ;
}

. cantidad de opps {
	ancho :  55 % ;
	flotar : derecha;
}

. cantidad-ops  h2 {
	tamaño de fuente :  36 px ;
	color :  # 000000 ;
	altura de línea :  24 px ;
	margen inferior :  15 px ;
}

. cantidad-opps  h2  sup {
	tamaño de fuente :  16 px ;
	posición : relativa;
	arriba :  -2 píxeles
}

. cantidad de opps  p {
	tamaño de fuente :  10 px ;
	altura de línea :  14 px ;
}

. referencia-opps {
	margen superior :  14 px ;
}

h1 {
	tamaño de fuente :  27 px ;
	color :  # 000000 ;
	alineación de texto : centro;
	margen superior :  -1 px ;
	relleno :  6 px  0  7 px ;
	borde :  1 px sólido # b0afb5 ;
	radio del borde :  4 px ;
	fondo :  # f8f9fa ;
}

. instrucciones-opps {
	margen :  32 px  -45 px  0 ;
	relleno :  32 px  45 px  45 px ;
	borde superior :  1 px sólido # b0afb5 ;
	fondo :  # f8f9fa ;
}

viejo {
	margen :  17 px  0  0  16 px ;
}

li  +  li {
	margen superior :  10 px ;
	color :  # 000000 ;
}

un {
	color :  # 1155cc ;
}

. opps-nota al pie {
	margen superior :  22 px ;
	relleno :  22 px  20  24 px ;
	color :  # 108f30 ;
	alineación de texto : centro;
	borde :  1 px sólido # 108f30 ;
	radio del borde :  4 px ;
	fondo :  #ffffff ; _
}